<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>常用功能</string>
		<key>data</key>
		<array>
			<dict>
				<key>type</key>
				<integer>9</integer>
				<key>title</key>
				<string>优惠券</string>
				<key>image</key>
				<string>icon_common_coupon</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>10</integer>
				<key>title</key>
				<string>地址管理</string>
				<key>image</key>
				<string>icon_common_address</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>11</integer>
				<key>title</key>
				<string>实名认证</string>
				<key>image</key>
				<string>icon_common_identify</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>12</integer>
				<key>title</key>
				<string>账户信息</string>
				<key>image</key>
				<string>icon_common_account_information</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>13</integer>
				<key>title</key>
				<string>安全中心</string>
				<key>image</key>
				<string>icon_common_security</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>14</integer>
				<key>title</key>
				<string>我的收藏</string>
				<key>image</key>
				<string>icon_common_favorite</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>新助手</string>
		<key>data</key>
		<array>
			<dict>
				<key>type</key>
				<integer>17</integer>
				<key>title</key>
				<string>我的足迹</string>
				<key>image</key>
				<string>icon_assistant_history</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>15</integer>
				<key>title</key>
				<string>门店管理</string>
				<key>image</key>
				<string>icon_assistant_shop</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>16</integer>
				<key>title</key>
				<string>员工管理</string>
				<key>image</key>
				<string>icon_assistant_staff</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>19</integer>
				<key>title</key>
				<string>积分</string>
				<key>image</key>
				<string>icon_assistant_integral</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>20</integer>
				<key>title</key>
				<string>联系客服</string>
				<key>image</key>
				<string>icon_assistant_service</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>其他功能</string>
		<key>data</key>
		<array>
			<dict>
				<key>type</key>
				<integer>21</integer>
				<key>title</key>
				<string>公众号</string>
				<key>image</key>
				<string>icon_assistant_subscribe</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>22</integer>
				<key>title</key>
				<string>意见反馈</string>
				<key>image</key>
				<string>icon_assistant_feedback</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
