<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>reason</key>
		<array>
			<string>包装破损</string>
			<string>效期不符</string>
			<string>瘪罐(仅奶粉)</string>
			<string>商品发错</string>
		</array>
		<key>包装破损</key>
		<array>
			<string>快递面单照</string>
			<string>快递外箱照</string>
			<string>破损处照</string>
			<string>商品与快递面单照</string>
		</array>
		<key>效期不符</key>
		<array>
			<string>快递面单照</string>
			<string>商品效期处照</string>
			<string>商品正面照</string>
			<string>商品与快递面单照</string>
		</array>
		<key>瘪罐(仅奶粉)</key>
		<array>
			<array>
				<string>快递面单照</string>
				<string>商品开盖及正面照</string>
				<string>商品与快递面单照</string>
				<string>商品效期或二维码照</string>
				<string>快递外箱照</string>
			</array>
			<array>
				<string>商品与快递面单照</string>
				<string>快递外箱照</string>
				<string>快递面单照</string>
				<string>破损处照</string>
				<string>商品正面照</string>
				<string>商品批次号与效期处照</string>
				<string>气泡柱/泡沫箱</string>
			</array>
		</array>
		<key>商品发错</key>
		<array>
			<string>快递面单照</string>
			<string>商品正面照</string>
			<string>发错内容清晰照</string>
			<string>所有商品合照</string>
		</array>
	</dict>
	<dict>
		<key>reason</key>
		<array>
			<string>订单拦截</string>
			<string>没有收到商品</string>
			<string>快递少件</string>
			<string>拒收该商品(商品破损等)</string>
			<string>拒收该商品(无理由拒收)</string>
		</array>
		<key>订单拦截</key>
		<array/>
		<key>没有收到商品</key>
		<array/>
		<key>快递少件</key>
		<array>
			<string>快递面单照</string>
			<string>开箱照</string>
			<string>所有商品正面合照</string>
		</array>
		<key>拒收该商品(商品破损等)</key>
		<array/>
		<key>拒收该商品(无理由拒收)</key>
		<array/>
	</dict>
	<dict>
		<key>reason</key>
		<array>
			<string>包装破损</string>
			<string>效期不符</string>
			<string>瘪罐(仅奶粉)</string>
			<string>爆罐(仅奶粉)</string>
			<string>商品发错</string>
			<string>无理由退货</string>
		</array>
		<key>包装破损</key>
		<array>
			<string>快递面单照</string>
			<string>快递外箱照</string>
			<string>破损处照</string>
			<string>商品与快递面单照</string>
		</array>
		<key>效期不符</key>
		<array>
			<string>快递面单照</string>
			<string>商品效期处照</string>
			<string>商品正面照</string>
			<string>商品与快递面单照</string>
		</array>
		<key>瘪罐(仅奶粉)</key>
		<array>
			<array>
				<string>快递面单照</string>
				<string>商品开盖及正面照</string>
				<string>商品与快递面单照</string>
				<string>商品效期或二维码照</string>
				<string>快递外箱照</string>
			</array>
			<array>
				<string>商品与快递面单照</string>
				<string>快递外箱照</string>
				<string>快递面单照</string>
				<string>破损处照</string>
				<string>商品正面照</string>
				<string>商品批次号与效期处照</string>
				<string>气泡柱/泡沫箱</string>
				<string>装箱清单</string>
			</array>
		</array>
		<key>爆罐(仅奶粉)</key>
		<array>
			<array>
				<string>快递面单照</string>
				<string>商品开盖及正面照</string>
				<string>商品与快递面单照</string>
				<string>商品效期或二维码照</string>
				<string>快递外箱照</string>
			</array>
			<array>
				<string>商品与快递面单照</string>
				<string>快递外箱照</string>
				<string>快递面单照</string>
				<string>破损处照</string>
				<string>商品正面照</string>
				<string>商品批次号与效期处照</string>
				<string>气泡柱/泡沫箱</string>
				<string>装箱清单</string>
			</array>
		</array>
		<key>商品发错</key>
		<array>
			<string>快递面单照</string>
			<string>商品正面照</string>
			<string>发错内容清晰照</string>
			<string>所有商品合照</string>
		</array>
		<key>无理由退货</key>
		<array/>
	</dict>
</array>
</plist>
