<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>身长</key>
	<dict>
		<key>参考值0</key>
		<array>
			<string>52.00~58.70厘米</string>
			<string>54.44~62.80厘米</string>
			<string>58.22~66.00厘米</string>
			<string>60.61~67.90厘米</string>
			<string>61.72~70.50厘米</string>
			<string>64.03~73.17厘米 </string>
			<string>64.03~73.17厘米 </string>
			<string>66.91~76.13厘米</string>
			<string>66.91~76.13厘米</string>
			<string>68.11~78.49厘米 </string>
			<string>68.11~78.49厘米</string>
			<string>72.50~82.16厘米</string>
			<string>72.50~82.16厘米</string>
			<string>72.50~82.16厘米</string>
			<string>75.60~86.48厘米</string>
			<string>75.60~86.48厘米</string>
			<string>75.60~86.48厘米</string>
			<string>77.27~88.28厘米</string>
			<string>77.27~88.28厘米</string>
			<string>77.27~88.28厘米</string>
			<string>81.78~93.17厘米</string>
			<string>81.78~93.17厘米</string>
			<string>81.78~93.17厘米</string>
			<string>83.34~97.78厘米</string>
			<string>83.34~97.78厘米</string>
			<string>83.34~97.78厘米</string>
			<string>83.34~97.78厘米</string>
			<string>83.34~97.78厘米</string>
			<string>83.34~97.78厘米</string>
			<string>87.50~101.54厘米</string>
			<string>87.50~101.54厘米</string>
			<string>87.50~101.54厘米</string>
			<string>87.50~101.54厘米</string>
			<string>87.50~101.54厘米</string>
			<string>87.50~101.54厘米</string>
			<string>90.07~105.14厘米</string>
		</array>
		<key>参考值1</key>
		<array>
			<string>52.46~60.00厘米</string>
			<string>56.00~64.19厘米</string>
			<string>59.60~67.19厘米</string>
			<string>62.02~69.56厘米</string>
			<string>64.12~71.75厘米</string>
			<string>66.17~74.23厘米 </string>
			<string>66.17~74.23厘米</string>
			<string>68.20~76.88厘米</string>
			<string>68.20~76.88厘米</string>
			<string>71.71~80.09厘米</string>
			<string>71.71~80.09厘米</string>
			<string>73.05~83.48厘米</string>
			<string>73.05~83.48厘米</string>
			<string>73.05~83.48厘米</string>
			<string>75.08~87.89厘米 </string>
			<string>75.08~87.89厘米 </string>
			<string>75.08~87.89厘米 </string>
			<string>79.00~90.55厘米</string>
			<string>79.00~90.55厘米</string>
			<string>79.00~90.55厘米</string>
			<string>82.25~93.03厘米</string>
			<string>82.25~93.03厘米</string>
			<string>82.25~93.03厘米</string>
			<string>85.11~97.33厘米</string>
			<string>85.11~97.33厘米</string>
			<string>85.11~97.33厘米</string>
			<string>85.11~97.33厘米</string>
			<string>85.11~97.33厘米</string>
			<string>85.11~97.33厘米</string>
			<string>89.50~103.12厘米</string>
			<string>89.50~103.12厘米</string>
			<string>89.50~103.12厘米</string>
			<string>89.50~103.12厘米</string>
			<string>89.50~103.12厘米</string>
			<string>89.50~103.12厘米</string>
			<string>92.62~106.50厘米</string>
		</array>
		<key>增长</key>
		<array>
			<string></string>
			<string>平均每月增长约4厘米</string>
			<string>比初生时平均增长约11-13厘米 </string>
			<string>平均每月增长约2厘米</string>
			<string>平均每月增长约2厘米</string>
			<string>平均每月增长约1厘米</string>
			<string>平均每月增长约1厘米</string>
			<string>平均每月增长约1厘米</string>
			<string>平均每月增长约1厘米</string>
			<string>平均每月增长约1厘米</string>
			<string>平均每月增长约1厘米</string>
			<string>第12个月比初生时增长约25-27厘米</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>家庭正确的身长测量方法</key>
		<array>
			<string>3岁之前的宝宝应采用仰卧位测量，称之为身长。脱去帽、鞋、袜，穿单衣仰卧于量床底板中线上。助手将头扶正，头顶接触头版，宝宝面向上。测量者位于宝宝右侧，左手握住双膝，使腿伸直，右手移动足板使其接触两侧足跟。（图示，此方法较精准的测量请在医院进行）</string>
			<string>身高测量宜在清晨进行</string>
			<string>建议身高的测量在医院用标准的量床测量。</string>
		</array>
		<key>备注</key>
		<array>
			<string>以身长来评估宝宝体格发育情况更为准确。尤其是第一年，宝宝的身长增长要达到25-27厘米，是生后增长最快的时期。</string>
			<string>身长（高）是指头顶至足底的长度，3岁以下立位测量不准确，应采用卧位，称为身长，3岁以后可立位，称为身高。</string>
		</array>
		<key>movieID</key>
		<string>celiangshengao1</string>
	</dict>
	<key>体重</key>
	<dict>
		<key>参考值0</key>
		<array>
			<string>3.75~5.87公斤</string>
			<string>4.56~6.82公斤</string>
			<string>5.51~8.00公斤</string>
			<string>6.14~8.63公斤</string>
			<string>6.34~9.38公斤</string>
			<string>6.87~9.74公斤</string>
			<string>6.87~9.74公斤</string>
			<string>7.28~11.31公斤</string>
			<string>7.28~11.31公斤</string>
			<string>8.12~11.19公斤</string>
			<string>8.12~11.19公斤</string>
			<string>8.57~11.77公斤</string>
			<string>8.57~11.77公斤</string>
			<string>8.57~11.77公斤</string>
			<string>9.00~13.99公斤</string>
			<string>9.00~13.99公斤</string>
			<string>9.00~13.99公斤</string>
			<string>9.29~13.57公斤</string>
			<string>9.29~13.57公斤</string>
			<string>9.29~13.57公斤</string>
			<string>10.24~15.39公斤</string>
			<string>10.24~15.39公斤</string>
			<string>10.24~15.39公斤</string>
			<string>10.50~16.03公斤</string>
			<string>10.50~16.03公斤</string>
			<string>10.50~16.03公斤</string>
			<string>10.50~16.03公斤</string>
			<string>10.50~16.03公斤</string>
			<string>10.50~16.03公斤</string>
			<string>11.40~17.16公斤</string>
			<string>11.40~17.16公斤</string>
			<string>11.40~17.16公斤</string>
			<string>11.40~17.16公斤</string>
			<string>11.40~17.16公斤</string>
			<string>11.40~17.16公斤</string>
			<string>12.33~18.20公斤</string>
		</array>
		<key>参考值1</key>
		<array>
			<string>3.92~6.21公斤</string>
			<string>4.92~7.55公斤</string>
			<string>5.82~8.80公斤</string>
			<string>6.63~9.26公斤</string>
			<string>6.80~10.08公斤</string>
			<string>7.24~10.94公斤</string>
			<string>7.24~10.94公斤</string>
			<string>7.74~11.23公斤</string>
			<string>7.74~11.23公斤</string>
			<string>8.60~12.28公斤</string>
			<string>8.60~12.28公斤</string>
			<string>8.63~12.67公斤</string>
			<string>8.63~12.67公斤</string>
			<string>8.63~12.67公斤</string>
			<string>9.32~13.51公斤</string>
			<string>9.32~13.51公斤</string>
			<string>9.32~13.51公斤</string>
			<string>9.95~14.02公斤</string>
			<string>9.95~14.02公斤</string>
			<string>9.95~14.02公斤</string>
			<string>10.60~15.31公斤</string>
			<string>10.60~15.31公斤</string>
			<string>10.60~15.31公斤</string>
			<string>10.97~16.19公斤</string>
			<string>10.97~16.19公斤</string>
			<string>10.97~16.19公斤</string>
			<string>10.97~16.19公斤</string>
			<string>10.97~16.19公斤</string>
			<string>10.97~16.19公斤</string>
			<string>12.01~17.91公斤</string>
			<string>12.01~17.91公斤</string>
			<string>12.01~17.91公斤</string>
			<string>12.01~17.91公斤</string>
			<string>12.01~17.91公斤</string>
			<string>12.01~17.91公斤</string>
			<string>12.75~19.05公斤</string>
		</array>
		<key>增长</key>
		<array>
			<string></string>
			<string>平均每个月增长1000-1200克</string>
			<string>平均每个月增长1000-1200克     满3个月体重约等于出生体重的2倍</string>
			<string>平均每个月增长500-600克</string>
			<string>平均每个月增长500-600克</string>
			<string>平均每个月增长250-300克</string>
			<string>平均每个月增长250-300克</string>
			<string>平均每个月增长250-300克</string>
			<string>平均每个月增长250-300克</string>
			<string>平均每个月增长200-250克</string>
			<string>平均每个月增长200-250克</string>
			<string>平均每个月增长200-250克，第12个月体重约相当于出生时的3倍</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>家庭正确的身长测量方法</key>
		<array>
			<string>测量体重尽量在相同的室温下，尽量在26~28℃。</string>
			<string>测量前应检查磅秤的零点。在宝宝空腹、排空大小便，裸体或穿背心的情况下进行。如果条件不允许脱成单衣单裤，应设法扣除衣物重量，取得净重。称体重时，婴儿可卧位（图示）。</string>
			<string>每一次的测量应该与第一次的测量环境、穿着情况（裸体或仅穿内衣）尽量相同，才能尽量保证测量的精准。</string>
		</array>
		<key>备注</key>
		<array>
			<string>体重为各器官、系统、体液的总和，是反映宝宝营养状况最常用的指标。</string>
			<string>宝宝在出生后的第一年是体重增长的最快时期，为第一个生长高峰。</string>
			<string>小婴儿最好用载重15Kg盘式杠杆秤测量，宝宝躺在秤盘中央。</string>
		</array>
		<key>movieID</key>
		<string>celiangtizhong1</string>
	</dict>
	<key>奶量</key>
	<dict>
		<key>参考值</key>
		<array>
			<string>24小时母乳摄入量440-1220ml，平均每天800ml。配方奶须严格按照产品说明的方法进行奶粉调配，避免过稀或过浓，或额外加糖。奶量约为500-750ml</string>
			<string>0~3个月的小婴儿每日多次、按需哺乳，3月龄内婴儿应按需喂哺，8~12次，乳量约500~750ml/天</string>
			<string>0~3个月的小婴儿每日多次、按需哺乳，3月龄内婴儿应按需喂哺，8~12次，乳量约500~750ml/天</string>
			<string>逐渐定时哺乳，6~8次，乳量约600~800ml/天</string>
			<string>养成定时（3~4小时）哺乳的习惯，5~6次/天，每次乳量增加，约800~1000ml/天，逐渐停夜间哺乳4~6个月开始逐渐以配方奶替代人乳，并逐渐断夜间奶</string>
			<string>养成定时（3~4小时）哺乳的习惯，5~6次/天，每次乳量增加，约800~1000ml/天，逐渐停夜间哺乳4~6个月开始逐渐以配方奶替代人乳，并逐渐断夜间奶</string>
			<string>采用部分人乳或配方奶，4~5次，每次乳量增加，月900~1000ml/天</string>
			<string>8~12个月龄逐渐以配方奶替代人乳，乳类约4次，乳量800~1000ml/天。当配方奶量达到800ml/天，在12~18月龄可完全替代人乳</string>
			<string>8~12个月龄逐渐以配方奶替代人乳，乳类约4次，乳量800~1000ml/天。当配方奶量达到800ml/天，在12~18月龄可完全替代人乳</string>
			<string>8~12个月龄逐渐以配方奶替代人乳，乳类约4次，乳量800~1000ml/天。当配方奶量达到800ml/天，在12~18月龄可完全替代人乳</string>
			<string>8~12个月龄逐渐以配方奶替代人乳，乳类约4次，乳量800~1000ml/天。当配方奶量达到800ml/天，在12~18月龄可完全替代人乳</string>
			<string>8~12个月龄逐渐以配方奶替代人乳，乳类约4次，乳量800~1000ml/天。当配方奶量达到800ml/天，在12~18月龄可完全替代人乳</string>
			<string>每天约2瓶牛奶（1瓶牛奶约220毫升）</string>
			<string>每天约2瓶牛奶（1瓶牛奶约220毫升）</string>
			<string>每天约2瓶牛奶（1瓶牛奶约220毫升）</string>
			<string>300毫升奶量</string>
			<string>300毫升奶量</string>
			<string>300毫升奶量</string>
			<string>300-400毫升奶量</string>
			<string>300-400毫升奶量</string>
			<string>300-400毫升奶量</string>
			<string>300-400毫升奶量</string>
			<string>300-400毫升奶量</string>
			<string>300-400毫升奶量</string>
			<string>300-400毫升奶量</string>
			<string>300-400毫升奶量</string>
			<string>300-400毫升奶量</string>
			<string>300-400毫升奶量</string>
			<string>300-400毫升奶量</string>
			<string>300-400毫升奶量</string>
			<string>300-400毫升奶量</string>
			<string>300-400毫升奶量</string>
			<string>300-400毫升奶量</string>
			<string>300-400毫升奶量</string>
			<string>300-400毫升奶量</string>
			<string>300-400毫升奶量</string>
		</array>
		<key>0~11母乳喂养</key>
		<array>
			<string>每次哺乳前，母亲应洗净双手。正确的喂哺姿势有斜抱式、卧式、抱球式。无论用何种姿势，母亲都必须使自己，特别是背部保持放松，舒适，没有压力。如果坐着哺乳，背部应有倚靠物，在背部不前屈的状态下，把婴儿固定在乳房前。母亲用手支撑乳房时，四指应伸直沿着胸壁托起乳房，拇指放在乳房的上面。手指不应该放在乳晕或乳头的附近，这样会干扰孩子与妈妈的接触。</string>
			<string>等待哺乳的婴儿应是清醒状态、有饥饿感，并已更换干净的尿布。</string>
			<string>哺乳前让婴儿用鼻推压或舔母亲的乳房，哺乳时婴儿的气味、身体的接触都可刺激乳母的射乳反射。</string>
		</array>
		<key>配方奶喂养</key>
		<dict>
			<key>0~3个月</key>
			<string>4个月内的人乳喂养婴儿体重增长不满意时，常常提示人乳不足。此时用配方奶粉（或其他乳制品）补充。人乳哺喂次数不变，每次先哺人乳，将两侧乳房吸空后再以配方奶不足。4个月以内的婴儿由于各种原因不能进行人乳喂养时而完全采用配方奶喂养喂哺。按规定调配的配方奶蛋白质与矿物质浓度接近人乳，只要奶量适当，总液量可满足需要。</string>
			<key>4个月以后</key>
			<string>逐渐引入配方奶，方法为：在某一次人乳哺喂时，有意减少哺喂人乳量，增加配方奶，逐渐替代此次人乳量</string>
		</dict>
		<key>其他奶制品喂养</key>
		<array>
			<string>牛乳过敏-对确诊牛乳过敏的婴儿，人乳喂养时间应延长至12~18个月；如不能进行人乳喂养而牛乳过敏的婴儿应首选氨基酸配方或深度水解蛋白奶粉、部分水解蛋白奶粉、大豆奶粉不宜用于治疗牛乳过敏。</string>
			<string>乳糖不耐受-对乳糖不耐受的婴儿应使用无乳糖奶粉（以蔗糖、葡萄糖聚合体、麦芽糖糊精、玉米糖浆为碳水化合物来源）。</string>
			<string>苯丙酮尿症-确诊苯丙酮尿症的婴儿应使用地苯丙氨酸奶粉。</string>
		</array>
		<key>视频</key>
		<dict>
			<key>斜抱式</key>
			<string>mrxb</string>
			<key>卧式</key>
			<string>mrws</string>
			<key>抱球式</key>
			<string>mrbqs</string>
			<key>正式含接</key>
			<string>mrzq</string>
			<key>未正式含接</key>
			<string>mrcw</string>
			<key>人工喂养</key>
			<string>rgwy</string>
		</dict>
	</dict>
	<key>睡眠</key>
	<dict>
		<key>夜间睡眠时间</key>
		<array>
			<string>8.5小时</string>
			<string>8.5小时</string>
			<string>10小时</string>
			<string>10小时</string>
			<string>10小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>11小时</string>
			<string>10.5小时</string>
		</array>
		<key>日间睡眠时间</key>
		<array>
			<string>7小时</string>
			<string>7小时</string>
			<string>5小时</string>
			<string>5小时</string>
			<string>5小时</string>
			<string>3.25小时</string>
			<string>3.25小时</string>
			<string>3.25小时</string>
			<string>3小时</string>
			<string>3小时</string>
			<string>3小时</string>
			<string>2.75小时</string>
			<string>2.75小时</string>
			<string>2.75小时</string>
			<string>2.75小时</string>
			<string>2.75小时</string>
			<string>2.75小时</string>
			<string>2.5小时</string>
			<string>2.5小时</string>
			<string>2.5小时</string>
			<string>2.5小时</string>
			<string>2.5小时</string>
			<string>2.5小时</string>
			<string>2小时</string>
			<string>2小时</string>
			<string>2小时</string>
			<string>2小时</string>
			<string>2小时</string>
			<string>2小时</string>
			<string>2小时</string>
			<string>2小时</string>
			<string>2小时</string>
			<string>2小时</string>
			<string>2小时</string>
			<string>2小时</string>
			<string>1.5小时</string>
		</array>
		<key>总计睡眠时间</key>
		<array>
			<string>15.5小时</string>
			<string>15.5小时</string>
			<string>15小时</string>
			<string>15小时</string>
			<string>15小时</string>
			<string>14.25小时</string>
			<string>14.25小时</string>
			<string>14.25小时</string>
			<string>14小时</string>
			<string>14小时</string>
			<string>14小时</string>
			<string>13.75小时</string>
			<string>13.75小时</string>
			<string>13.75小时</string>
			<string>13.75小时</string>
			<string>13.75小时</string>
			<string>13.75小时</string>
			<string>13.5小时</string>
			<string>13.5小时</string>
			<string>13.5小时</string>
			<string>13.5小时</string>
			<string>13.5小时</string>
			<string>13.5小时</string>
			<string>13小时</string>
			<string>13小时</string>
			<string>13小时</string>
			<string>13小时</string>
			<string>13小时</string>
			<string>13小时</string>
			<string>13小时</string>
			<string>13小时</string>
			<string>13小时</string>
			<string>13小时</string>
			<string>13小时</string>
			<string>13小时</string>
			<string>12小时</string>
		</array>
	</dict>
	<key>排尿</key>
	<array>
		<string>宝宝每1-3小时就可能需要排尿，母乳喂养的宝宝每日6-7次，次数较少时可能每天4-6次。如果生病了或是发热以及天气炎热时，宝宝的尿量可能减少一半，也属于正常现象。</string>
		<string>健康儿童的尿颜色是清亮的，有的是淡黄色。</string>
	</array>
	<key>排便</key>
	<array>
		<string>2个月后的母乳喂养婴儿，每天1-2次，以牛乳或其它替代乳品喂养者，大便次数较少，每天1次或2~3天1次；母乳不足可使婴儿大便次数减少</string>
		<string>2个月后的母乳喂养婴儿，每天1-2次，以牛乳或其它替代乳品喂养者，大便次数较少，每天1次或2~3天1次；母乳不足可使婴儿大便次数减少</string>
		<string>这个期间，母乳或配方乳喂养婴儿的大便次数会下降，有些母乳喂养婴儿没3-4天仅有一次大便，一些健康状况良好的孩子每周仅有一次大便。只要你的孩子吃得好、体重增加、大便不软不硬，那么就没有理由对大便的次数下降感到惊慌。</string>
		<string>一般情况下，只要你的孩子吃得好、体重增加、大便不软不硬， 就是正常的排泄。有时宝宝出现便秘的现象时，可以通过让宝宝增加运动、做做腹部按摩、热毛巾热敷肛门的方式会有一定的效果。如果时间较长，请及时至医院就诊。</string>
		<string>一般情况下，只要你的孩子吃得好、体重增加、大便不软不硬， 就是正常的排泄。有时宝宝出现便秘的现象时，可以通过让宝宝增加运动、做做腹部按摩、热毛巾热敷肛门的方式会有一定的效果。如果时间较长，请及时至医院就诊。</string>
		<string>宝宝的食物越成人化，排便也会越接近成人化。随着食物的多样，会比纯母乳喂养时更硬更臭点，颜色也会发生变化，这些都是正常现象。</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
		<string>你一开始让宝宝进食固体食物，宝宝的大便会更硬，颜色也会发生变化。由于糖和脂肪的进食量增加，所以气味也更臭；豆类和其他蔬菜可以使大便成深绿色；如果食物没有充分磨碎，则大便中还可能存在没有消化的食物颗粒，果皮等。所有这些现象都很正常，因为孩子的消化系统仍然没有成熟，还需要一段时间才能充分消化这些食物</string>
	</array>
	<key>头围</key>
	<dict>
		<key>参考值</key>
		<array>
			<dict>
				<key>参考值0</key>
				<array>
					<string>37.05厘米标准差:1.23厘米</string>
					<string>38.79厘米标准差:1.06厘米</string>
					<string>40.35厘米标准差:1.08厘米</string>
					<string>41.21厘米标准差:1.11厘米 </string>
					<string>42.25厘米标准差:1.21厘米</string>
					<string>43.12厘米标准差:1.20厘米 </string>
					<string>43.12厘米标准差:1.20厘米 </string>
					<string>44.44厘米标准差:1.17厘米 </string>
					<string></string>
					<string>45.23厘米标准差:1.14厘米</string>
					<string>45.23厘米标准差:1.14厘米</string>
					<string>45.80厘米标准差:1.15厘米 </string>
					<string>45.80厘米标准差:1.15厘米 </string>
					<string>45.80厘米标准差:1.15厘米 </string>
					<string>46.54厘米标准差:1.38厘米 </string>
					<string>46.54厘米标准差:1.38厘米 </string>
					<string>46.54厘米标准差:1.38厘米 </string>
					<string>46.83厘米标准差:1.24厘米</string>
					<string>46.83厘米标准差:1.24厘米</string>
					<string>46.83厘米标准差:1.24厘米</string>
					<string>47.75厘米标准差:1.23厘米</string>
					<string>47.75厘米标准差:1.23厘米</string>
					<string>47.75厘米标准差:1.23厘米</string>
					<string>48.19厘米标准差:1.34厘米</string>
					<string>48.19厘米标准差:1.34厘米</string>
					<string>48.19厘米标准差:1.34厘米</string>
					<string>48.19厘米标准差:1.34厘米</string>
					<string>48.19厘米标准差:1.34厘米</string>
					<string>48.19厘米标准差:1.34厘米</string>
					<string>48.76厘米标准差:1.11厘米</string>
					<string>48.76厘米标准差:1.11厘米</string>
					<string>48.76厘米标准差:1.11厘米</string>
					<string>48.76厘米标准差:1.11厘米</string>
					<string>48.76厘米标准差:1.11厘米</string>
					<string>48.76厘米标准差:1.11厘米</string>
					<string>49.28厘米标准差:1.22厘米</string>
				</array>
				<key>参考值1</key>
				<array>
					<string>38.09厘米标准差:1.20厘米</string>
					<string>39.64厘米标准差:1.15厘米      </string>
					<string>41.21厘米标准差:1.13厘米 </string>
					<string>42.50厘米标准差:1.33厘米   </string>
					<string>43.45厘米标准差:1.32厘米    </string>
					<string>44.32厘米标准差:1.39厘米  </string>
					<string>44.32厘米标准差:1.39厘米  </string>
					<string>45.53厘米标准差:1.17厘米    </string>
					<string></string>
					<string>46.36厘米标准差:1.18厘米   </string>
					<string>46.36厘米标准差:1.18厘米   </string>
					<string>46.89厘米标准差:1.16厘米 </string>
					<string>46.89厘米标准差:1.16厘米 </string>
					<string>46.89厘米标准差:1.16厘米 </string>
					<string>47.71厘米标准差:1.23厘米  </string>
					<string>47.71厘米标准差:1.23厘米  </string>
					<string>47.71厘米标准差:1.23厘米  </string>
					<string>48.18厘米标准差:1.12厘米 </string>
					<string>48.18厘米标准差:1.12厘米 </string>
					<string>48.18厘米标准差:1.12厘米 </string>
					<string>48.78厘米标准差:1.27厘米  </string>
					<string>48.78厘米标准差:1.27厘米  </string>
					<string>48.78厘米标准差:1.27厘米  </string>
					<string>49.30厘米标准差:1.23厘米    </string>
					<string>49.30厘米标准差:1.23厘米    </string>
					<string>49.30厘米标准差:1.23厘米    </string>
					<string>49.30厘米标准差:1.23厘米    </string>
					<string>49.30厘米标准差:1.23厘米    </string>
					<string>49.30厘米标准差:1.23厘米    </string>
					<string>49.74厘米标准差:1.19厘米</string>
					<string>49.74厘米标准差:1.19厘米</string>
					<string>49.74厘米标准差:1.19厘米</string>
					<string>49.74厘米标准差:1.19厘米</string>
					<string>49.74厘米标准差:1.19厘米</string>
					<string>49.74厘米标准差:1.19厘米</string>
					<string>50.07厘米标准差:1.25厘米  </string>
				</array>
			</dict>
			<array>
				<array>
					<string>新生儿头围平均34厘米。</string>
					<string>0-6个月，增长9厘米。</string>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>新生儿头围平均34厘米。</string>
					<string>0-6个月，增长9厘米。</string>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>0-6个月，增长9厘米。</string>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>0-6个月，增长9厘米。</string>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>0-6个月，增长9厘米。</string>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>0-6个月，增长9厘米。</string>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>到第9个月增长3厘米。</string>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>头围增长约2厘米。</string>
					<string>2岁时头围约为47-49厘米。</string>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
			</array>
		</array>
		<key>家庭正确头围测量方法</key>
		<array>
			<string>采用无伸缩性软尺测量。</string>
			<string>取坐位或立位。测量者立于被测者的前方或右方，用软尺从头部右侧眉弓上缘经枕骨粗隆，从左侧眉弓上缘回至零点，读出头围数字。</string>
			<string>测量时软尺应紧贴皮肤，左右对称。</string>
			<string>测量前要检查软尺刻度是否正确。</string>
		</array>
		<key>movieID</key>
		<string>celiangtouwei1</string>
		<key>备注</key>
		<string>头围能够反应宝宝脑和颅骨的发育程度。头部的发育最快为出生后半年</string>
	</dict>
	<key>胸围</key>
	<dict>
		<key>参考值</key>
		<array>
			<dict>
				<key>参考值0</key>
				<array>
					<string>36.56厘米标准差:1.63厘米</string>
					<string>38.73厘米标准差:1.72厘米</string>
					<string>40.70厘米标准差:1.67厘米</string>
					<string>41.62厘米标准差:1.83厘米</string>
					<string>42.35厘米标准差:1.84厘米</string>
					<string>43.12厘米标准差:1.77厘米</string>
					<string>43.12厘米标准差:1.20厘米 </string>
					<string>44.27厘米标准差:1.88厘米</string>
					<string>44.27厘米标准差:1.88厘米</string>
					<string>45.43厘米标准差:1.66厘米</string>
					<string>45.43厘米标准差:1.66厘米</string>
					<string>45.85厘米标准差:1.63厘米</string>
					<string>45.85厘米标准差:1.63厘米</string>
					<string>45.85厘米标准差:1.63厘米</string>
					<string>46.94厘米标准差:1.99厘米</string>
					<string>46.94厘米标准差:1.99厘米</string>
					<string>46.94厘米标准差:1.99厘米</string>
					<string>47.28厘米标准差:1.87厘米</string>
					<string>47.28厘米标准差:1.87厘米</string>
					<string>47.28厘米标准差:1.87厘米</string>
					<string>48.36厘米标准差:1.94厘米</string>
					<string>48.36厘米标准差:1.94厘米</string>
					<string>48.36厘米标准差:1.94厘米</string>
					<string>49.02厘米标准差:1.91厘米</string>
					<string>49.02厘米标准差:1.91厘米</string>
					<string>49.02厘米标准差:1.91厘米</string>
					<string>49.02厘米标准差:1.91厘米</string>
					<string>49.02厘米标准差:1.91厘米</string>
					<string>49.02厘米标准差:1.91厘米</string>
					<string>49.78厘米标准差:2.06厘米</string>
					<string>49.78厘米标准差:2.06厘米</string>
					<string>49.78厘米标准差:2.06厘米</string>
					<string>49.78厘米标准差:2.06厘米</string>
					<string>49.78厘米标准差:2.06厘米</string>
					<string>49.78厘米标准差:2.06厘米</string>
					<string>51.64厘米标准差:2.06厘米</string>
				</array>
				<key>参考值1</key>
				<array>
					<string>37.61厘米标准差:1.91厘米</string>
					<string>40.07厘米标准差:1.96厘米</string>
					<string>41.89厘米标准差:1.94厘米   </string>
					<string>43.02厘米标准差:1.72厘米  </string>
					<string>43.64厘米标准差:1.85厘米</string>
					<string>44.33厘米标准差:2.16厘米 </string>
					<string>44.33厘米标准差:2.16厘米 </string>
					<string>45.18厘米标准差:1.82厘米  </string>
					<string>45.18厘米标准差:1.82厘米  </string>
					<string>46.27厘米标准差:1.66厘米</string>
					<string>46.27厘米标准差:1.66厘米</string>
					<string>46.69厘米标准差:1.75厘米</string>
					<string>46.69厘米标准差:1.75厘米</string>
					<string>46.69厘米标准差:1.75厘米</string>
					<string>47.67厘米标准差:1.81厘米</string>
					<string>47.67厘米标准差:1.81厘米</string>
					<string>47.67厘米标准差:1.81厘米</string>
					<string>48.51厘米标准差:1.86厘米  </string>
					<string>48.51厘米标准差:1.86厘米  </string>
					<string>48.51厘米标准差:1.86厘米  </string>
					<string>49.50厘米标准差:1.79厘米 </string>
					<string>49.50厘米标准差:1.79厘米 </string>
					<string>49.50厘米标准差:1.79厘米 </string>
					<string>50.20厘米标准差:2.09厘米  </string>
					<string>50.20厘米标准差:2.09厘米  </string>
					<string>50.20厘米标准差:2.09厘米  </string>
					<string>50.20厘米标准差:2.09厘米  </string>
					<string>50.20厘米标准差:2.09厘米  </string>
					<string>50.20厘米标准差:2.09厘米  </string>
					<string>51.21厘米标准差:2.11厘米  </string>
					<string>51.21厘米标准差:2.11厘米  </string>
					<string>51.21厘米标准差:2.11厘米  </string>
					<string>51.21厘米标准差:2.11厘米  </string>
					<string>51.21厘米标准差:2.11厘米  </string>
					<string>51.21厘米标准差:2.11厘米  </string>
					<string>51.64厘米标准差:2.06厘米   </string>
				</array>
			</dict>
			<array>
				<array>
					<string>新生儿胸围平均32厘米。</string>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>新生儿胸围平均32厘米。</string>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>1岁时,胸围约等于头围。</string>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
				<array>
					<string>参考值为2005年上海市平均标准。标准差指的是平均值的上下标准差。</string>
				</array>
			</array>
		</array>
		<key>家庭正确头围测量方法</key>
		<array>
			<string>让宝宝卧位或立位姿势（可扶立时）。</string>
			<string>测量者位于宝宝前方或右侧，左手拇指固定软尺零点于宝宝右侧乳头下缘，右手持软尺贴宝宝胸壁，经右侧腋下、肩胛下角下缘、左侧腋下、左侧乳头回至零点，读与零点交叉的刻度，取平静呼、吸气的中间读数，精确至0.1厘米</string>
		</array>
		<key>movieID</key>
		<string>celiangxiongwei1</string>
		<key>备注</key>
		<string>胸围反映胸廓、胸背部肌肉、皮下脂肪和肺的发育</string>
	</dict>
	<key>发育行为观察</key>
	<array>
		<dict>
			<key>视觉</key>
			<string>头眼协调，头可跟随移动的物体作水平方向转动90O</string>
			<key>听觉</key>
			<string>宝宝听到声音后会停止哭叫安静起来</string>
			<key>大运动</key>
			<string>俯卧位能抬头1-2秒钟</string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<array>
				<string>在睡梦中或睡醒了会微笑或咯咯笑</string>
				<string>对声音和人脸有反应性微笑</string>
			</array>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string>能辨别注视大物体,如红色的球</string>
			<key>听觉</key>
			<array>
				<string> 宝宝可以辨别不同的语音，如在哺乳时首次听到新的语音，吸吮加快，但重复几次后，吸吮减慢；更换新的语音后，吸吮又加快，2个月龄婴儿的听觉习惯化已经形成</string>
				<string>对宝宝说话有反应</string>
				<string>会发出“咕咕”的声音</string>
				<string>给刺激时会微笑</string>
			</array>
			<key>大运动</key>
			<array>
				<string>抬头：俯卧时头能稍微向上抬起，身体、手臂和腿部可以做出爬行的样子,但时间依旧不能太长</string>
				<string>踢足：脚下有一点力量踢足，能交替踢腿</string>
			</array>
			<key>精细运动</key>
			<string>手-可以观察到宝宝的两小手从出生的紧握拳的姿势逐渐松开</string>
			<key>社交</key>
			<string>宝宝会在照养者接近他（她）时，看到人脸的微笑，和蔼的声音有反应性的回馈的笑容</string>
			<key>认知</key>
			<string>当物体消失时，会注视片刻</string>
			<key>语言</key>
			<string>哭声分化，爸妈们仔细聆听，会发现宝宝能用不同的哭声的频率，厉害程度表示饥饿、需要安抚及疼痛等</string>
		</dict>
		<dict>
			<key>视觉</key>
			<string>会看移动的铅笔</string>
			<key>听觉</key>
			<string> 能够感受声音发出的不同方向，转头寻找声音</string>
			<key>大运动</key>
			<array>
				<string>抬头：俯卧时能抬头450，较稳</string>
				<string>      俯卧时不会抬头*</string>
				<string>      俯卧时双手可支撑身体几分钟</string>
				<string>      仰卧时双手拉宝宝，头不向后落*</string>
				<string>3~4个月竖抱时竖颈稳，颈部可以自由地转动</string>
			</array>
			<key>精细运动</key>
			<array>
				<string>宝宝的两小手可以举到中线，手掌张开并开始自己玩手</string>
				<string>不会看自己的手</string>
				<string>不会抓握物体</string>
				<string>3~4个月会抓拨浪鼓</string>
			</array>
			<key>社交</key>
			<array>
				<string>3~4个月出现社会反应性大笑，逗引时会笑出声音</string>
				<string>宝宝比较喜欢听妈妈的声音，妈妈的靠近，让宝宝有会心的反应</string>
			</array>
			<key>认知</key>
			<array>
				<string>宝宝开心时会大笑出声</string>
				<string>看见最主要看护者的脸会笑，逗引时出现动嘴巴、伸舌头、微笑和摆动身体等情绪反应</string>
			</array>
			<key>语言</key>
			<array>
				<string>对很大的声音有反应</string>
				<string>不会发出“哦”“咕”“啊”的声音</string>
				<string>开始无意识地说出单音节的元音，如“ba,ba”</string>
			</array>
		</dict>
		<dict>
			<key>视觉</key>
			<array>
				<string>宝宝的眼睛可以随物体移动较长地时间</string>
				<string>宝宝的眼睛可以随物体移动较长地时间</string>
			</array>
			<key>听觉</key>
			<string>宝宝能分辨出成人发出的声音，也会对音乐、声调和声音感兴趣，聆听并朝着声音的方向转去</string>
			<key>大运动</key>
			<array>
				<string>抬头：俯卧时可以很稳地抬头，用手支撑上半身，与肩胛成90度，并可以转动头部</string>
				<string>翻身：4~5个月时会有意识的从侧卧位到仰卧位翻转，但身体还不能自然地曲线扭动</string>
			</array>
			<key>精细运动</key>
			<string>宝宝会看看自己的手，尝试用手去接触玩具，可会伸出两手去抓玩具了</string>
			<key>社交</key>
			<string>喜欢被熟悉的养育着抱，当熟悉的人靠近或者开心的时候，宝宝会微笑、咯咯地笑或是大笑，会寻找喜欢的养育者 </string>
			<key>认知</key>
			<array>
				<string>有看见奶瓶就想吃的反应</string>
				<string>对周围的事物有反应，比如头会随着妈妈的走动而移动</string>
				<string>开始懂得玩的兴趣，高兴时会大声地笑了</string>
				<string>会注视自己的手</string>
				<string>开始有记忆力了，听到并认出妈妈的声音会特别地高兴，手舞足蹈</string>
			</array>
			<key>语言</key>
			<array>
				<string>和宝宝讲话时，宝宝会发出“咯咯”“咕咕”的声音来回应</string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
		<dict>
			<key>视觉</key>
			<string></string>
			<key>听觉</key>
			<string></string>
			<key>大运动</key>
			<string></string>
			<key>精细运动</key>
			<string></string>
			<key>社交</key>
			<string></string>
			<key>认知</key>
			<string></string>
			<key>语言</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
